.icon-blank{
	background:url('icons/blank.gif') no-repeat center center;
}
.icon-add{
	background:url('icons/edit_add.png') no-repeat center center;
}
.icon-edit{
	background:url('icons/pencil.png') no-repeat center center;
}
.icon-clear{
	background:url('icons/clear.png') no-repeat center center;
}
.icon-remove{
	background:url('icons/edit_remove.png') no-repeat center center;
}
.icon-save{
	background:url('icons/filesave.png') no-repeat center center;
}
.icon-cut{
	background:url('icons/cut.png') no-repeat center center;
}
.icon-ok{
	background:url('icons/ok.png') no-repeat center center;
}
.icon-no{
	background:url('icons/no.png') no-repeat center center;
}
.icon-cancel{
	background:url('icons/cancel.png') no-repeat center center;
}
.icon-reload{
	background:url('icons/reload.png') no-repeat center center;
}
.icon-search{
	background:url('icons/search.png') no-repeat center center;
}
.icon-print{
	background:url('icons/print.png') no-repeat center center;
}
.icon-help{
	background:url('icons/help.png') no-repeat center center;
}
.icon-undo{
	background:url('icons/undo.png') no-repeat center center;
}
.icon-redo{
	background:url('icons/redo.png') no-repeat center center;
}
.icon-back{
	background:url('icons/back.png') no-repeat center center;
}
.icon-sum{
	background:url('icons/sum.png') no-repeat center center;
}
.icon-tip{
	background:url('icons/tip.png') no-repeat center center;
}
.icon-filter{
	background:url('icons/filter.png') no-repeat center center;
}
.icon-man{
	background:url('icons/man.png') no-repeat center center;
}
.icon-lock{
	background:url('icons/lock.png') no-repeat center center;
}
.icon-more{
	background:url('icons/more.png') no-repeat center center;
}


.icon-mini-add{
	background:url('icons/mini_add.png') no-repeat center center;
}
.icon-mini-edit{
	background:url('icons/mini_edit.png') no-repeat center center;
}
.icon-mini-refresh{
	background:url('icons/mini_refresh.png') no-repeat center center;
}

.icon-large-picture{
	background:url('icons/large_picture.png') no-repeat center center;
}
.icon-large-clipart{
	background:url('icons/large_clipart.png') no-repeat center center;
}
.icon-large-shapes{
	background:url('icons/large_shapes.png') no-repeat center center;
}
.icon-large-smartart{
	background:url('icons/large_smartart.png') no-repeat center center;
}
.icon-large-chart{
	background:url('icons/large_chart.png') no-repeat center center;
}


.icon-cwgl-large{
	background:url('../images/cwgl.png') no-repeat center center;
	background-size: 64px 64px;
}
.icon-srgl-large{
	background:url('../images/srgl.png') no-repeat center center;
	background-size: 64px 64px;
}
.icon-zcgl-large{
	background:url('../images/zcgl.png') no-repeat center center;
	background-size: 64px 64px;
}
.icon-tjbb-large{
	background:url('../images/tjbb.png') no-repeat center center;
	background-size: 64px 64px;
}
.icon-srtj-large{
	background:url('../images/srtj.png') no-repeat center center;
	background-size: 64px 64px;
}
.icon-zctj-large{
	background:url('../images/zctj.png') no-repeat center center;
	background-size: 64px 64px;
}
.icon-xtgl-large{
	background:url('../images/xtgl.png') no-repeat center center;
	background-size: 64px 64px;
}
.icon-jtcy-large{
	background:url('../images/jtcy.png') no-repeat center center;
	background-size: 64px 64px;
}
.icon-jsgl-large{
	background:url('../images/jsgl.png') no-repeat center center;
	background-size: 64px 64px;
}
.icon-qxgl-large{
	background:url('../images/qxgl.png') no-repeat center center;
	background-size: 64px 64px;
}
.icon-flgl-large{
	background:url('../images/flgl.png') no-repeat center center;
	background-size: 64px 64px;
}
.icon-yhgl-large{
	background:url('../images/yhgl.png') no-repeat center center;
	background-size: 64px 64px;
}
.icon-cytj-large{
	background:url('../images/cytj.png') no-repeat center center;
	background-size: 64px 64px;
}
.icon-sztj-large{
	background:url('../images/sztj.png') no-repeat center center;
	background-size: 64px 64px;
}


.icon-cwgl{
	background:url('../images/cwgl.png') no-repeat center center;
	background-size: 16px 16px;
}
.icon-srgl{
	background:url('../images/srgl.png') no-repeat center center;
	background-size: 16px 16px;
}
.icon-zcgl{
	background:url('../images/zcgl.png') no-repeat center center;
	background-size: 16px 16px;
}
.icon-tjbb{
	background:url('../images/tjbb.png') no-repeat center center;
	background-size: 16px 16px;
}
.icon-srtj{
	background:url('../images/srtj.png') no-repeat center center;
	background-size: 16px 16px;
}
.icon-zctj{
	background:url('../images/zctj.png') no-repeat center center;
	background-size: 16px 16px;
}
.icon-xtgl{
	background:url('../images/xtgl.png') no-repeat center center;
	background-size: 16px 16px;
}
.icon-jtcy{
	background:url('../images/jtcy.png') no-repeat center center;
	background-size: 16px 16px;
}
.icon-jsgl{
	background:url('../images/jsgl.png') no-repeat center center;
	background-size: 16px 16px;
}
.icon-qxgl{
	background:url('../images/qxgl.png') no-repeat center center;
	background-size: 16px 16px;
}
.icon-flgl{
	background:url('../images/flgl.png') no-repeat center center;
	background-size: 16px 16px;
}
.icon-yhgl{
	background:url('../images/yhgl.png') no-repeat center center;
	background-size: 16px 16px;
}
.icon-cytj{
	background:url('../images/cytj.png') no-repeat center center;
	background-size: 16px 16px;
}
.icon-sztj{
	background:url('../images/sztj.png') no-repeat center center;
	background-size: 16px 16px;
}